<nav class="navbar bg-body-tertiary nav-home">
    <div class="container">
        <div>
            <NavLink class="navbar-brand d-flex h-100 col nav-home__logo-wrap" href="">
                <img src="Images/logo.svg" alt="Logo" width="40" height="50" class="d-inline-block align-text-top">
                <h3>Progresso</h3>
            </NavLink>
        </div>
        <div class="col offset-md-8 d-flex nav-home__right-wrap">
            <div class="col-4 d-flex">
                <NavLink class="nav-link d-flex" href="https://github.com/DragosCotaga"><img src="Images/icon_github.svg" class="nav-home__right-wrap__icon"></NavLink>
                <NavLink class="nav-link d-flex" href=""><img src="Images/icon_linkedin.svg" class="nav-home__right-wrap__icon"></NavLink>
            </div>
            <div class="col-8 d-flex">
                <NavLink class="nav-link" href="login">
                    <button type="button" class="btn btn-outline-dark nav-home__right-wrap__login-button"><h4>Login</h4></button>
                </NavLink>
                <NavLink class="nav-link" href="register">
                    <button type="button" class="btn btn-primary nav-home__right-wrap__get-button">
                        <h4>Get Start</h4>
                    </button>
                 </NavLink>
            </div>
        </div>
    </div>
</nav>

@code {

}